* {
  margin: 0;
  padding: 0;


}
body {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #bcb8b1;

}

#header {
  font-size: 5vh;
  display: flex;
  justify-content: center;
  color: whitesmoke;
  margin-bottom: 50px;
}

#colone-droite {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: x-large;
  height: 650px;
  width: 400px;
  gap: 20px;
  padding-right: 100px;
  
}

#liste-participants {
  border: 2px solid #463f3a;
  background-color: antiquewhite;
  height: 650px;
  width: 300px;
  display: inline;
  text-align: center;
  border-radius: 5px;
  padding-top: 20px;
  line-height: 30px;
}


#ajout-global {

   display: flex;
   justify-content: center;
   gap: 40px;
   width: 300px;
   height: 100px;
   align-items: center;
  
}
#ajouter {
   
    font-size: large;
    border: solid 2px #463f3a;
    border-radius: 15px;
    background-color: antiquewhite;
    text-align: center;
    width: 200px;
    height: 40px;
    
}

#ajouter:hover {
background-color: #463f3a;
color: white;

}

#add {
    height: 40px;
    width: 40px;
    background-color: white;
    color: green;
    font-size: xx-large;

  }


.styled-input {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid black;
    background-color: antiquewhite;
    height: 100px;
    width: 300px;
    border-radius: 5px;
    color: black;
    font-size: x-large;
  }


#generer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #463f3a;
  background-color: antiquewhite;
  height: 100px;
  width: 500px;
  font-size: x-large;
  margin-left: 750px;
  border-radius: 15px;
}

#generer:hover {
    background-color: #463f3a;
    color: white;

  }

#Salle {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 70px;
  margin-top: 60px;
  padding-left: 100px;
  padding-right: 100px;
}

#Table-1 {
  width: 100%;
  height: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  /* gap: 40px; */
}

.Place {
  width: 100px;
  height: 100px;
  background-color: #463f3a;
  border-radius: 5px;
}

#Table-2 {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: end;
  align-items: center;
}

#Table-3 {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 40px; */
}

#centre {
  display: flex;
  justify-content: space-between;
}



/* classe pour index */

#header-index{
  font-size: 8vh;
  display: flex;
  justify-content: center;
  color: #463f3a;
  margin-bottom: 50px;
  padding-top: 100px;
}

#article-index{
  font-size: 3vh;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #463f3a;
  margin-bottom: 50px;
  margin-top: 50px;
}

#bouton-index{
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  background-color: antiquewhite;
  height: 100px;
  width: 500px;
  font-size: x-large;
  border-radius: 5px;
  margin-top: 100px;
  margin-left: 700px;
  color: whitesmoke;
  font-size: xx-large;
  color: #463f3a;
  font-weight: bolder;
}

#bouton-index:hover{
  background-color:#463f3a ;
  color: antiquewhite;
}

img{
  width: 300px;
  margin-left: 800px;
}

.Place{
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
}